**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.userosscache
**/*.suo
**/*.sln.docstates
**/node_modules
**/.env
**/*.md
!README.md
**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
**/*.log
